<div class=" h-dvh flex justify-evenly items-center ">
    <form method="post" class=" flex flex-col gap-4 shadow-2xl px-15 py-10  border border-gray-300 text-center">
        <label for="todoitem" class="text-xl mb-10">To-do-list</label>

        <input [formControl]="item" type="text" name="todoitem" class="border rounded-md">

        <button class="bg-blue-400 p-2 text-white" type="button" (click)="pushToList()">Add</button>
    </form>
    <ol class="h-52 w-24  flex flex-col items-center justify-center">
        <p>List:</p>
        @for (item of list; track item) {
        <li key={item}> {{item}}</li>
        }
    </ol>

</div>